.top, .bottom{
    border:black 3px solid;
    border-radius: 10px;
    height:120px;
    width:88px;
    margin:20px;
}

#foundation{
    display:flex;
}

#columns{
    display:flex;
}

.empty{
    border-color:white;
}

.card{
    height:120px;
    width:88px;
}

.trash, .reveal, .foundCard{
    position:absolute;
    border-color:white;
}

.unclickable{
    pointer-events: none;
}

.holding{
    border:yellow 3px solid;
}

.preload{
    height:300px;
    width:222px;
}

/*
body{
    background-image: url('cards/1_1.png');
}
*/