/*layout css*/
.top, .bottom{
    border:black 3px solid;
    border-radius: 10px;
    margin:20px;
}

#foundation{
    display:flex;
}

#columns{
    display:flex;
}

.preload{
    height:1px;
    width:1px;
    visibility:hidden;
}

/*card css*/
.empty{
    border-color:white;
}

.card, .top, .bottom{
    height:120px;
    width:88px;
}

.card{
    position:relative;
}

.trash, .reveal, .foundCard{
    position:absolute;
    border-color:white;
}

.unclickable{
    pointer-events: none;
}

.highlight{
    border-top: yellow 3px solid;
    border-bottom: none;
    border-left:yellow 3px solid;
    border-right:yellow 3px solid;
}

.highlightLoner{
    border:yellow 3px solid;
}

.midlight{
    border-top: none;
    border-bottom: none;
    border-left:yellow 3px solid;
    border-right:yellow 3px solid;
}

.lowlight{
    border-top: none;
    border-bottom: yellow 3px solid;
    border-left:yellow 3px solid;
    border-right:yellow 3px solid;
}


/*table css*/

#table{
    float:right;
    border:solid 2px black;
    border-radius:50px;
    width:25%;
    height:100%;
    text-align:center;
}

#timer{
    text-align:center;
    font-size:50px;
}

#start, #tb{
    text-align:center;
    font-size:25px;
    padding:30px;
    margin:30px;
}

